---
layout: default
---



<section class="content">

	<article class="posts">
		<h2 class="title">{{ page.title }}</h2>
		<time class="emphnext" style="color:gray;" title="{{ page.date | date_to_xmlschema }}" pubdate="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%B %d, %Y' }}</time>
		
		{% if page.tags != empty %}
		<ul class="tags emphnext">
			<li>标签：</li>
			{% for tag in page.tags %}
				<li><a href="{{ site.baseurl }}/tags#{{tag | replace:' ', '-' | downcase }}">{{ tag }}</a>{% if forloop.last == false %}, {%endif %}</li>
			{% endfor %}
		</ul>
		{% endif %}	

		{{ content }}	


	
		<div id="post-bottom">
<!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <a class="bds_douban"></a>
        <a class="bds_qzone"></a>
        <a class="bds_fbook"></a>
        <a class="bds_mail"></a>
        <a class="bds_kaixin001"></a>
        <a class="bds_msn"></a>
        <a class="bds_twi"></a>
        <span class="bds_more">更多</span>
    </div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=131983" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
<!-- Baidu Button END -->
		</div>
	
	</article>

	<nav class="page-navigation">
		<ul>
			{% if page.previous.url %}
			<li class="left">
				<a href="{{ site.baseurl }}{{page.previous.url}}" title="前一篇：{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
			</li>
			{% endif %}
			
			<li class="center"><a href="{{ site.baseurl }}/archives/">文章列表</a></li>
			
			{% if page.next.url %}
			<li class="right">
				<a href="{{ site.baseurl }}{{page.next.url}}" title="后一篇：{{page.next.title}}">{{page.next.title}} &raquo;</a>
			</li>
			{% endif %}
		</ul>
	</nav>

	{% if page.comment %}

{% comment %}

	<section class="comments" id="comments">
		 <div id="disqus_thread" aria-live="polite"></div>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">Comments powered by Disqus.</a>
		</noscript>

		
	</section>
{% endcomment %}

<section class="comments" id="comments">
<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"bairimen"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
</section>

	{% endif %}

</section>
